# https://docs.docker.com/build/building/context/#dockerignore-files

*.swp
.DS_Store
.dockerignore
.editorconfig
.eslintcache
.fleet/
.git/
.gitattributes
.github/
.gitignore
.hadolint.yaml
.husky/
.idea/
.mailmap
.npmrc
.nvmrc
.prettierignore
.vscode/
.yamllint.yaml
AUTHORS
CODE_OF_CONDUCT.adoc
CODING_STYLE.adoc
CONTRIBUTING.adoc
CONTRIBUTORS
COPYRIGHT
Dockerfile
LICENSE
NOTICE
OSSMETADATA
README.adoc
SECURITY.md
TODO
api/
commitlint.config.mjs
dist/
docker/
eslint.config.mjs
lint-staged.config.mjs
node_modules/
prettier.config.mjs
scripts/
src/docs/
Thumbs.db
!scripts/build.sh
!scripts/preinstall.sh
!scripts/prepare.sh
