# SPDX-FileCopyrightText: © 2020 Sebastian Davids <sdavids@gmx.de>
# SPDX-License-Identifier: Apache-2.0

# https://docs.docker.com/build/building/context/#dockerignore-files

*.swp
.DS_Store
.dockerignore
.editorconfig
.eslintcache
.fleet/
.git/
.gitattributes
.github/
.gitignore
.git-blame-ignore-revs
.hadolint.yaml
.husky/
.idea/
.npmrc
.nvmrc
.prettierignore
.reuse
.vscode/
.yamllint.yaml
Dockerfile
README.adoc
TODO
api/
commitlint.config.mjs
dist/
docker/
eslint.config.mjs
lint-staged.config.mjs
node_modules/
prettier.config.mjs
scripts/
src/docs/
Thumbs.db
!scripts/build.sh
!scripts/preinstall.sh
!scripts/prepare.sh
