# https://docs.docker.com/build/building/context/#dockerignore-files

*.swp
.DS_Store
.dockerignore
.editorconfig
.eslintcache
.fleet/
.gitattributes
.github/
.gitignore
.idea/
.mailmap
.npmrc
.nvmrc
.vscode/
AUTHORS
CHANGELOG.adoc
CODE_OF_CONDUCT.adoc
CODING_STYLE.adoc
CONTRIBUTING.adoc
CONTRIBUTORS
Dockerfile
LICENSE
NOTICE
OSSMETADATA
README.adoc
Thumbs.db
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log
api/
docker/
node_modules/
scripts/
src/docs/
!scripts/node_modules-clean.sh
!scripts/preinstall.sh
!scripts/prepare.sh
