# https://git-scm.com/docs/gitignore

### Linux ###
*.swp

### OSX ###
.DS_Store

### Windows ###
Thumbs.db

### Jetbrains IDEs ###
/.idea/
/.fleet/
/jffi*.dylib

### Code ###
/.vscode/

### NodeJS ###
/node_modules/

### npm ###
/npm-debug.log

### Yarn ###
/yarn.lock
/yarn-debug.log*
/yarn-error.log*

### pnPM ###
/pnpm-lock.yaml
/pnpm-debug.log

### ESLint ###
/.eslintcache

### Build ###
/dist/

### Certificates ###
*.cer
*.crt
*.key
*.pem
