# https://git-scm.com/docs/gitignore

### Linux ###
*.swp

### OSX ###
.DS_Store

### Windows ###
Thumbs.db

### IntelliJ ###
.idea/
out/

### Eclipse ###
.settings/
.classpath
.project
bin/

### Code ###
.vscode/

### Yarn ###
yarn.lock
yarn-debug.log*
yarn-error.log*

### pnPM ###
pnpm-lock.yaml
pnpm-debug.log

### NodeJS ###
node_modules/
dist/
npm-debug.log

### Certificates ###
*.cer
*.crt
*.key
*.pem
